<!DOCTYPE html>

<html>

<!-- header section-->
<head>
	{% load staticfiles %}
	
	<meta charset="utf-8">
	<title>規約どっとコム</title>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 	 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,400&amp;subset=latin">
	<link rel="stylesheet" type="text/css" href="{% static "agreementGen/css/reset.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "agreementGen/css/template.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "agreementGen/css/index.css" %}">

</head>

<!-- header section end-->

<!-- body section-->
<body>

<header>
</header>

<!-- main area of the page-->
<div id="main" >
</div>

<footer>
	

</footer>

</body>

</html>
